<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：绑定对应的Mapper接口全类名，实现接口与XML的关联 -->
<mapper namespace="com.atguigu.tingshu.album.mapper.AlbumAttributeValueMapper">

    <insert id="insertBatch">
        insert into album_attribute_value (album_id, attribute_id, value_id)
        values
        <foreach collection="albumAttributeValueList" item="item" separator=",">
            (#{item.albumId}, #{item.attributeId}, #{item.valueId})
        </foreach>
    </insert>
</mapper>