<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.atguigu.tingshu.album.mapper.TrackInfoMapper">


    <select id="selectTrackInfoList" resultType="com.atguigu.tingshu.vo.album.TrackListVo">
        select ti.*,
        ts.*
        from track_info ti
        left join (select track_id,
        MAX(if(stat_type = '0701', stat_num, 0)) as play_stat_num,
        MAX(if(stat_type = '0702', stat_num, 0)) as collect_stat_num,
        MAX(if(stat_type = '0703', stat_num, 0)) as praise_stat_num,
        MAX(if(stat_type = '0704', stat_num, 0)) as comment_stat_num
        from track_stat
        where is_deleted = 0
        group by track_id) ts on ti.id = ts.track_id
        <where>
            ti.is_deleted = 0 and ti.user_id = #{query.userId}
            <if test="query.status != null and query.status != ''">and ti.status = #{query.status}</if>
            <if test="query.trackTitle != null and query.trackTitle != ''">and ti.track_title = #{query.trackTitle}</if>
        </where>
        order by ti.id desc
    </select>


</mapper>

